# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore config files (API keys, secrets)
app/config.py

# Ignore database files
database/*.db

# Ignore logs
logs/
*.log

# Ignore environment variables
.env
